<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../partials/head'); %>
        <title>Flat Cart Widget Responsive Widget Template | Home :: w3layouts</title>
        <link href="/css/style1.css" rel="stylesheet" type="text/css" media="all" />
        <!-- Custom Theme files -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Flat Cart Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
        />
        <!--google fonts-->
        <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <script src="js/jquery-1.11.0.min.js"></script>

        <script>
            $(document).ready(function(c) {
                $('.close').on('click', function(c) {
                    $('.cake-top').fadeOut('slow', function(c) {
                        $('.cake-top').remove();
                    });
                });
            });
        </script>

        <script>
            $(document).ready(function(c) {
                $('.close-btm').on('click', function(c) {
                    $('.cake-bottom').fadeOut('slow', function(c) {
                        $('.cake-bottom').remove();
                    });
                });
            });
        </script>
</head>

<body>
    <%- include('../partials/header'); %>

        <main class="d-flex flex-column" style="padding-top: 6rem !important;">
            <div class="logo">
                <h3>Flat Cart Widget</h3>
            </div>
            <div class="cart">
                <div class="cart-top">
                    <div class="cart-experience">
                        <h4>Shopping Cart Experience</h4>
                    </div>
                    <div class="cart-login">
                        <div class="cart-login-img">
                            <img src="images/loggin_man.png">
                        </div>
                        <div class="cart-login-text">
                            <h5>Logged in as</h5>
                        </div>
                        <div class="lang_list">
                            <select tabindex="4" class="dropdown">
					<option value="" class="label" value="">This is looking great</option>
					<option value="1">Many variations</option>
					<option value="2">Ipsum is simply</option>
					<option value="3">Nemo enim ipsam</option>
				</select>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="cart-bottom">
                    <div class="table">
                        <table>
                            <tbody>
                                <tr class="main-heading">
                                    <th>Images</th>
                                    <th class="long-txt">Product Description</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                                <% for(let i=0; i < cartItems.length;i++) { %>
                                    <tr class="cake-top">
                                        <td class="cakes">
                                            <div class="product-img">
                                                <img src="<%= cartItems[i].items.image %>">
                                            </div>
                                        </td>
                                        <td class="cake-text">
                                            <div class="product-text">
                                                <h3>
                                                    <%= cartItems[i].items.name %>
                                                </h3>
                                                <p>
                                                    <%= cartItems[i].items.brand %>
                                                </p>
                                            </div>
                                        </td>
                                        <td class="quantity">
                                            <div class="product-right">
                                                <input min="1" type="number" id="<%= i%>" name="quantity" value="<%= cartItems[i].items.quantity %>" class="form-control input-small" onchange="updateTotalOne()">
                                            </div>
                                        </td>
                                        <td>
                                            <p class="old-price-product">
                                                <%= cartItems[i].items.oldPrice %>
                                            </p>
                                            <p class="new-price-product">
                                                <%= cartItems[i].items.price %>
                                            </p>
                                        </td>
                                        <td class="top-remove">
                                            <h4>
                                                <%= cartItems[i].items.totalItem %>
                                            </h4>
                                            <div class="close">
                                                <h5>Remove</h5>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <!-- <tr class="cake-bottom">
                                <td class="cakes">
                                    <div class="product-img2">
                                        <img src="images/cack2.png">
                                    </div>
                                </td>
                                <td class="cake-text">
                                    <div class="product-text">
                                        <h3>Box Of 12 Rose Petal Blueberry Cupcakes</h3>
                                        <p>Product Code: TLG12345</p>
                                    </div>
                                </td>
                                <td class="quantity">
                                    <div class="product-right">
                                        <input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small">
                                    </div>
                                </td>
                                <td>
                                    <h4>$12.99</h4>
                                </td>
                                <td class="btm-remove">
                                    <h4>$25.98</h4>
                                    <div class="close-btm">
                                        <h5>Remove</h5>
                                    </div>
                                </td>
                            </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="vocher">
                        <div class="dis-card">
                            <h2>Discount Code or Voucher</h2>
                            <p>Enter your discount code or voucher to receive a discount on your total order.</p>
                            <form>
                                <input type="text" value="">
                                <input type="submit" value="Redeem">
                            </form>
                        </div>
                        <div class="dis-total">
                            <h1>
                                <%= total %>
                            </h1>
                            <div class="tot-btn">
                                <a class="shop" href="#">Back to Shop</a>
                                <a class="check" href="#">Continue to Checkout</a>
                            </div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>
            </div>
            <div class="copy-right">
                <p>© 2016 Flat Cart Widget. All rights reserved | Template by <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
            </div>
            <script>
                function updateTotalOne() {
                    var x = document.getElementById("quantity").value;
                    document.getElementById("demo").innerHTML(x);
                }
            </script>
        </main>

        <%- include('../partials/footer'); %>
</body>

</html>