<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../partials/head'); %>
        <link href="/css/style1.css" rel="stylesheet" type="text/css" media="all" />
        <!-- Custom Theme files -->
        <script>
            $(document).ready(function (c) {
                $('.close').on('click', function (c) {
                    $('.cake-top').fadeOut('slow', function (c) {
                        $('.cake-top').remove();
                    });
                });
            });
        </script>

        <script>
            $(document).ready(function (c) {
                $('.close-btm').on('click', function (c) {
                    $('.cake-bottom').fadeOut('slow', function (c) {
                        $('.cake-bottom').remove();
                    });
                });
            });
        </script>
</head>

<body>
    <%- include('../partials/header'); %>

        <main class="d-flex flex-column" style="padding-top: 6rem !important;">

            <div class="cart text-white" style="border: 2px solid #0c517d;">
                <div class="p-3">
                    <div class="d-flex justify-content-between">
                        <h4>Order id: <%= _id %>
                        </h4>
                        <h4>TVT ShoeShop</h4>
                    </div>
                    <div class="d-flex bg-white text-dark p-3 justify-content-between">
                        <div class="flex-grow-1">
                            <h3>Info user:</h3>
                            <p><b>Username:</b>
                                <%= userInfo.username %>
                            </p>
                            <p><b>Full name:</b>
                                <%= userInfo.fullname %>
                            </p>
                            <p><b>Phone number:</b>
                                <%= userInfo.phoneNumber %>
                            </p>
                            <p><b>Adsress:</b>
                                <%= userInfo.address %>
                            </p>
                        </div>
                        <div class="flex-grow-1">
                            <h3>State order:</h4>
                                <% if(isConfirm) { %>
                                    <p>Confirmed by ADMIN</p>
                                    <p>Order is coming</p>
                                    <% if(isDelivered) { %>
                                        <p>Order delivered at <%= deliveredAt %>
                                        </p>
                                        <% } %>
                                            <% } else { %>
                                                <p>Need to confirm</p>
                                                <% } %>

                        </div>
                    </div>
                </div>
                <div class="cart-bottom">
                    <div class="table">
                        <table class="w-100">
                            <tbody>
                                <tr class="main-heading">
                                    <th>Images</th>
                                    <th class="long-txt">Product Description</th>
                                    <th>Quantity</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                                <% for(let i=0; i < items.length;i++) { %>
                                    <tr class="cake-top">
                                        <td class="cakes">
                                            <a href="/product/detail/<%= items[i].productId %>">
                                                <div class="product-img" style="width: 100px; height: 100px; ">
                                                    <img style="object-fit: cover;width: 100%;height: 100%;"
                                                        src="<%= items[i].image %>">
                                                </div>
                                            </a>
                                        </td>
                                        <td class="cake-text align-middle h-100">
                                            <a href="/product/detail/<%= items[i].productId %>" class="my-link h4">
                                                <%= items[i].name %>
                                            </a>
                                        </td>
                                        <td class="align-middle ">
                                            <div class="d-flex align-items-center">
                                                <p class="m-1 text-center" style="width: 40px; ">
                                                    <%= items[i].quantity %>
                                                </p>
                                            </div>
                                        </td>
                                        <td class="align-middle h5">
                                            <%= items[i].size %>
                                        </td>
                                        <td class="align-middle h5">
                                            <%= items[i].price %>
                                        </td>
                                        <td class="align-middle h4">
                                            <%= items[i].totalItem %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5" class="text-right align-middle">Total:</th>
                                    <th class="align-middle h4">
                                        <%= total %>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <script>
                function updateTotalOne() {
                    var x = document.getElementById("quantity").value;
                    document.getElementById("demo").innerHTML(x);
                }
            </script>
        </main>

        <%- include('../partials/footer'); %>
</body>

</html>