<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <meta charset utf="8">
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <!--fonts-->
    <!--bootstrap-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--shop-kart-js-->
    <script src="/js/simpleCart.min.js"></script>
    <!--default-js-->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="/js/bootstrap.min.js"></script>
    <!--script-->
    <!-- FlexSlider -->
    <script src="/js/imagezoom.js"></script>
    <script defer src="/js/jquery.flexslider.js"></script>
    <!-- <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" /> -->

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
</head>

<body>
    <%- include('../partials/header'); %>

        <main class="d-flex flex-column" style="padding-top: 6rem !important;">
            <div class="showcase-grid">
                <div class="container">
                    <div class="col-md-8 showcase">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="images/show.jpg">
                                    <div class="thumb-image"> <img src="<%= product.image %>" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                                <!-- <li data-thumb="images/show1.jpg">
                            <div class="thumb-image"> <img src="images/show1.jpg" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="images/show2.jpg">
                            <div class="thumb-image"> <img src="images/show2.jpg" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="images/show3.jpg">
                            <div class="thumb-image"> <img src="images/show3.jpg" data-imagezoom="true" class="img-responsive"> </div>
                        </li> -->
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-4 showcase">
                        <div class="showcase-rt-top">
                            <div class="pull-left shoe-name">
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <p>
                                    <%= product.brand %>
                                </p>
                                <h4>&#36;
                                    <%= product.price %>
                                </h4>
                            </div>
                            <div class="pull-left rating-stars">
                                <ul>
                                    <%
                                for(let i=0; i<product.rating ;i++) {
                            %>
                                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                                        <% } %>
                                            <%
                                for(let i=0; i<(5 - product.rating) ;i++) {
                            %>
                                                <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                                                <% } %>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr class="featurette-divider">
                        <div class="shocase-rt-bot">
                            <div class="float-qty-chart">
                                <ul>
                                    <li class="qty">
                                        <h3>Size Chart</h3>
                                        <select class="form-control siz-chrt">
                                <% for(let i=0; i<product.sizeAndStock.length;i++) { %>
                                    <option><%= product.sizeAndStock[i].numSize %></option>
                                <% } %>
                                </select>
                                    </li>
                                    <li class="qty">
                                        <h4>QTY</h4>
                                        <select class="form-control qnty-chrt">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <ul>
                                <li class="ad-2-crt simpleCart_shelfItem">
                                    <a class="btn item_add" href="#" role="button">Add To Cart</a>
                                    <a class="btn" href="#" role="button">Buy Now</a>
                                </li>
                            </ul>
                        </div>
                        <div class="showcase-last">
                            <h3>product details</h3>
                            <p>
                                <%= product.description %>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="specifications">
                <div class="container">
                    <h3>Item Details</h3>
                    <div class="detai-tabs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills tab-nike" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Highlights</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Terms & conditiona</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <p>The full-length Max Air unit delivers excellent cushioning with enhanced flexibility for smoother transitions through footstrike.</p>
                                <p>Dynamic Flywire cables integrate with the laces and wrap your midfoot for a truly adaptive, supportive fit.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <p>Nike is one of the leading manufacturer and supplier of sports equipment, footwear and apparels. Nike is a global brand and it continuously creates products using high technology and design innovation. Nike has a vast collection
                                    of sports shoes for men at Snapdeal. You can explore our range of basketball shoes, football shoes, cricket shoes, tennis shoes, running shoes, daily shoes or lifestyle shoes. Take your pick from an array of sports
                                    shoes in vibrant colours like red, yellow, green, blue, brown, black, grey, olive, pink, beige and white. Designed for top performance, these shoes match the way you play or run. Available in materials like leather,
                                    canvas, suede leather, faux leather, mesh etc, these shoes are lightweight, comfortable, sturdy and extremely sporty. The sole of all Nike shoes is designed to provide an increased amount of comfort and the material
                                    is good enough to provide an improved fit. These shoes are easy to maintain and last for a really long time given to their durability. Buy Nike shoes for men online with us at some unbelievable discounts and great prices.
                                    So get faster and run farther with your Nike shoes and track how hard you can play.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                The images represent actual product though color of the image and product may slightly differ.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="you-might-like">
                <div class="container">
                    <h3 class="you-might">Products You May Like</h3>
                    <div class="col-md-4 grid-stn simpleCart_shelfItem">
                        <!-- normal -->
                        <div class="ih-item square effect3 bottom_to_top">
                            <div class="bottom-2-top">
                                <div class="img"><img src="images/grid4.jpg" alt="/" class="img-responsive gri-wid"></div>
                                <div class="info">
                                    <div class="pull-left styl-hdn">
                                        <h3>style 01</h3>
                                    </div>
                                    <div class="pull-right styl-price">
                                        <p><a href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">$190</span></a></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end normal -->
                        <div class="quick-view">
                            <a href="single.html">Quick view</a>
                        </div>
                    </div>
                    <div class="col-md-4 grid-stn simpleCart_shelfItem">
                        <!-- normal -->
                        <div class="ih-item square effect3 bottom_to_top">
                            <div class="bottom-2-top">
                                <div class="img"><img src="images/grid6.jpg" alt="/" class="img-responsive gri-wid"></div>
                                <div class="info">
                                    <div class="pull-left styl-hdn">
                                        <h3>style 01</h3>
                                    </div>
                                    <div class="pull-right styl-price">
                                        <p><a href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">$190</span></a></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end normal -->
                        <div class="quick-view">
                            <a href="single.html">Quick view</a>
                        </div>
                    </div>
                    <div class="col-md-4 grid-stn simpleCart_shelfItem">
                        <!-- normal -->
                        <div class="ih-item square effect3 bottom_to_top">
                            <div class="bottom-2-top">
                                <div class="img"><img src="images/grid3.jpg" alt="/" class="img-responsive gri-wid"></div>
                                <div class="info">
                                    <div class="pull-left styl-hdn">
                                        <h3>style 01</h3>
                                    </div>
                                    <div class="pull-right styl-price">
                                        <p><a href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">$190</span></a></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end normal -->
                        <div class="quick-view">
                            <a href="single.html">Quick view</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer'); %>
</body>

</html>