<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/header'); %>

    <main style="top: 0px" style="z-index: 0">
      <div id="carouselExampleIndicators" class="carousel slide" style="top: 0px; z-index: 0 !important"
        data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-block w-100 slide1 slide">
              <div class="bg-filter-1"></div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h2>NIKE SHOES</h2>
              <p class="h5 font-weight-light mb-4">
                Nike, Inc. (/ˈnaɪki/ or /ˈnaɪk/) is an American multinational corporation that is engaged in the
                design,
                development, manufacturing, and worldwide marketing and sales of footwear, apparel, equipment,
                accessories, and
                services. The company is headquartered near Beaverton, Oregon, in the Portland metropolitan area.
              </p>
              <a href="/product/search?brand=Nike" <button class="btn my-button-white">SHOW ALL PRODUCTS OF
                NIKE</button></a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block w-100 slide2 slide">
              <div class="bg-filter-2"></div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h2>CONVERSE</h2>
              <p class="h5 font-weight-light mb-4">
                Converse /ˈkɒnvərs/ is an American shoe company that designs, distributes, and licenses sneakers,
                skating shoes,
                lifestyle brand footwear, apparel, and accessories. Founded in 1908, it has been a subsidiary of Nike,
                Inc. since 2003.
              </p>
              <a href="/product/search?brand=Converse" <button class="btn my-button-white">SHOW ALL
                PRODUCTS</button></a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block w-100 slide3 slide">
              <div class="bg-filter-3"></div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h2>ABOUT US</h2>
              <p class="h5 font-weight-light mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
                repellat, corrupti recusandae corporis rerum ad nam quod
              </p>
              <a href="/aboutus"><button class="btn my-button-white">MORE INFOMATION</button></a>
            </div>
          </div>
        </div>
        <!-- Previous & Next -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div data-aos="zoom-in" class="
              container-fluid
              d-flex
              flex-column
              justify-content-center
              align-items-center
              p-5">
        <h2 data-aos="fade-up" class="text-center text-dark">LATEST RELEASE</h2>
        <div class="w-100 d-flex flex-wrap justify-content-around mt-3 mr-5 ml-5">
          <% for(let i=0; i<latestRelease.length; i++) { %>
            <div class="product-item" data-aos="zoom-in">
              <a href="/product/detail/<%= latestRelease[i]._id %>">
                <div class="img-product" style="background-image: url('<%= latestRelease[i].image %>')"></div>
                <div class="p-2">
                  <p class="name-product text-truncate">
                    <%= latestRelease[i].name %>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <p class="old-price-product">$<%= latestRelease[i].oldPrice %>
                      </p>
                      <p class="new-price-product">$<%= latestRelease[i].price %>
                      </p>
                    </div>
                    <a class="order-product" href="/cart/add/<%= latestRelease[i]._id %>""><i class=" fas
                      fa-shopping-cart fa-lg m-2 btn" style="color: #fcb045"></i></a>
                  </div>
                </div>
              </a>
            </div>
            <% } %>
        </div>
        <a href="/product/search"><button class="btn my-button-dark">VIEW ALL PRODUCTS</button></a>
      </div>

      <div data-aos="fade-up" class="contain-intro d-flex flex-column">
        <div class="intro-name">
          <p class="h1">ShoesShop</p>
        </div>
        <div class="d-flex flex-wrap flex-reponsive">
          <div data-aos="fade-right" class="intro-sale-off flex-grow text-white">
            <p class="h1">
              SALE <b class="font-weight-bold text-dark">50%</b> OFF
            </p>
            <p class="h4 text">OUT OF THIS WORLD</p>
            <p>Lorem ipsum dolor sit amet consectetu</p>
            <a href="/product/search?order=lowest"><button class="btn my-button-white">CLICK FOR DETAILS</button></a>
          </div>
          <div class="d-flex flex-column flex-grow">
            <div data-aos="fade-left" class="intro-top-shoes flex-grow">
              <p class="h2">TOP <br />RUNNING SHOES</p>
              <p>Lorem ipsum dolor sit amet.</p>
              <a href="/product/search?category=Sports"><button class="btn my-button-dark">CLICK FOR
                  DETAILS</button></a>
            </div>
            <div data-aos="fade-left" class="intro-about-us flex-grow">
              <div>
                <p class="h2 text-white">ABOUT US</p>
                <p class="text-white w-75">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                  deserunt laudantium provident quasi. Lorem ipsum dolor sit
                  amet consectetur adipisicing elit. Doloribus, reiciendis.
                </p>
                <a href="/aboutus"><button class="btn my-button-white">MORE INFO</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="
              container-fluid
              d-flex
              flex-column
              justify-content-center
              align-items-center
              p-5
            ">
        <h2 data-aos="fade-up" class="text-center text-dark">WHO ARE YOU SHOPPING FOR?</h2>
        <div class="w-100 d-flex flex-wrap justify-content-around m-5">
          <a data-aos="zoom-in" href="/product/search?category=Men">
            <div class="category-item m-1">
              <div class="img-category" style="background-image: url('images/men.jpg')">
                <div class="
                                  w-100
                                  h-100
                                  bg-filter-category
                                  d-flex
                                  justify-content-center
                                  align-content-center
                                ">
                  <p class="h3 font-weight-normal text-white align-self-center">
                    MEN
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a data-aos="zoom-in" href="/product/search?category=Women">
            <div class="category-item m-1">
              <div class="img-category" style="background-image: url('images/women.jpg')">
                <div class="
                                w-100
                                h-100
                                bg-filter-category
                                d-flex
                                justify-content-center
                                align-content-center
                              ">
                  <p class="h3 font-weight-normal text-white align-self-center">
                    WOMEN
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a data-aos="zoom-in" href="/product/search?category=Kids">
            <div class="category-item m-1">
              <div class="img-category" style="background-image: url('images/kids.jpg')">
                <div class="
                                  w-100
                                  h-100
                                  bg-filter-category
                                  d-flex
                                  justify-content-center
                                  align-content-center
                                ">
                  <p class="h3 font-weight-normal text-white align-self-center">
                    KIDS
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </main>
    
    <div class="contain-addSuccess">
      <p class="addSuccess "><i class="fa fa-check-circle mr-2"></i>Add to cart success</p>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>