<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/header'); %>

    <main class="d-flex flex-column" style="padding-top: 6rem !important;">
      <section class="p-3">
        <h1>List all orders</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Order ID</th>
              <th scope="col">Username</th>
              <th scope="col">Phone number</th>
              <th scope="col">Address</th>
              <th scope="col">Created at</th>
              <th scope="col">Total</th>
              <th scope="col">Payment</th>
              <th scope="col">Is paid</th>
              <th scope="col">Is confirm</th>
              <th scope="col">Delivered</th>
              <th scope="col">Method</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i<orders.length; i++) { %>
              <% let dateCreated=orders[i].createdAt %>
                <% dateCreated=`${dateCreated.getDate()}-${dateCreated.getMonth()+1}-${dateCreated.getFullYear()}` %>
                  <tr class="h5">
                    <th scope="row" class="align-middle">
                      <%= (page-1)*10 + i+1 %>
                    </th>
                    <td class="align-middle text-truncate" style="max-width: 150px">
                      <%= orders[i]._id %>
                    </td class="align-middle">
                    <td class="align-middle">
                      <%= orders[i].userInfo.username %>
                    </td>
                    <td class="align-middle">
                      <%= orders[i].userInfo.phoneNumber %>
                    </td>
                    <td class="align-middle text-truncate" style="max-width: 150px">
                      <%= orders[i].userInfo.address %>
                    </td class="align-middle">
                    <td class="align-middle">
                      <%= dateCreated %>
                    </td>
                    <td class="align-middle">
                      $<%= orders[i].total %>
                    </td>
                    <% let color="text-danger" ; %>
                      <% if(orders[i].paymentMethod=="paypal" ) color="text-primary" %>
                        <td class="align-middle <%= color %> " style="text-transform: capitalize;">
                          <%= orders[i].paymentMethod %>
                        </td>
                    <td class="align-middle">
                      <% if(orders[i].paidAt) {%>
                        <% let datePaid=orders[i].paidAt %>
                          <% datePaid=`${datePaid.getDate()}-${datePaid.getMonth()+1}-${datePaid.getFullYear()}` %>
                            <%= datePaid %>
                              <% } %>
                    </td>
                    <td class="align-middle">
                      <% if(orders[i].isConfirm) { %>
                        <button class="btn btn-outline-primary" disabled>Confirmed</button>
                        <% } else { %>
                          <a onclick="return confirmLink('<%= orders[i]._id %>', 'Do you want to confirm order ')"
                            href="/order/confirmed/<%= orders[i]._id %>">
                            <button class="btn btn-primary">Confirm</button>
                          </a>
                          <% } %>
                    </td>
                    <td class="align-middle">
                      <% if(orders[i].isDelivered) { %>
                        <% let dateDelivered=orders[i].deliveredAt %>
                          <% dateDelivered=`${dateDelivered.getDate()}-${dateDelivered.getMonth()+1}-${dateDelivered.getFullYear()}`
                            %>
                            <%= dateDelivered %>
                              <% } %>
                    </td>
                    <td class="align-middle">
                      <a href="/order/detail/<%= orders[i]._id %>" class="btn btn-outline-info">Detail</a>
                      <a onclick="return confirmDeleteItem('<%= orders[i]._id %>')"
                        href="/order/delete/<%= orders[i]._id %>?redirect=/order"
                        class="btn btn-outline-danger">Delete</a>
                    </td>
                  </tr>
                  <% } %>

          </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-center">
          <ul class="style-type-none filter d-flex">
            <% for(let i=1; i<=pages; i++) { let classs="" ; if(i==page) classs="filter-active" ; %>
              <li>
                <a class="<%= classs %>" href="/order?pageNumber=<%= i %>">
                  <%= i %>
                </a>
              </li>
              <% } %>
          </ul>
        </div>
      </section>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>