<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/header'); %>

    <main class="d-flex flex-column" style="padding-top: 6rem !important;">
      <section class="p-3">
        <div class="d-flex align-items-center mb-2">
          <h1 class="mr-5">List all products</h1>
          <a href="/product/create"><button class="btn btn-success">Add new product</button></a>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col">Num solds</th>
              <th scope="col">Rating</th>
              <th scope="col">Num reviews</th>
              <th scope="col">Method</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i<products.length; i++) { %>
              <tr>
                <th scope="row">
                  <%= (page-1)*10 + i+1 %>
                </th>
                <td style="word-wrap: break-word; max-width: 350px; ">
                  <a href="/product/detail/<%= products[i]._id %>" class="my-link">
                    <%= products[i].name %>
                  </a>
                </td>
                <td>
                  <%= products[i].brand %>
                </td>
                <td>
                  <%= products[i].category %>
                </td>
                <td>
                  <%= products[i].price %>
                </td>
                <td>
                  <%= products[i].numSold %>
                </td>
                <td>
                  <%= products[i].rating %>
                </td>
                <td>
                  <%= products[i].numReviews %>
                </td>
                <td>
                  <a href="/product/edit/<%= products[i]._id %>"><button
                      class="btn btn-outline-primary">Edit</button></a>
                  <a onclick="return confirmDeleteItem('<%= products[i].name %>')"
                    href="/product/delete/<%= products[i]._id %>"><button
                      class="btn btn-outline-danger">Delete</button></a>
                </td>
              </tr>
              <% } %>

          </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-center">
          <ul class="style-type-none filter d-flex">
            <% for(let i=1; i<=pages; i++) { let classs="" ; if(i==page) classs="filter-active" ; %>
              <li>
                <a class="<%= classs %>" href="/product?pageNumber=<%= i %>">
                  <%= i %>
                </a>
              </li>
              <% } %>
          </ul>
        </div>
      </section>
    </main>

    <%- include('../partials/footer'); %>
      
</body>

</html>